body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: darkgray;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
   
}

.cell {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

#status {
    margin-top: 20px;
    font-size: 18px;
}

#restart-btn {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
